extends layout
block content
  // span(class="sr-only") (current)
  div(class='container' id='Cool' ng-app='cameraCaptureWeb' ng-controller='formController')
      h2(class="text-center") Face panel 
      
