block navbar
nav(class='navbar navbar-default navbar-fixed-top')
  div(class='container-fluid')
    div(class='navbar-header')
      a(class='navbar-brand' href='#')
        img(alt='Brand' src='img/tracking.jpeg' width='40' height='27')
    div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
      ul(class="nav navbar-nav")
        li
          a(href="dashboard") Dashboard
        li
          a(href="revisor") Images panel
        li
          a(href="captureImage") Emotion recognizer
        li
          a(href="facePanel") Face recognition panel
