extends layout
block content
  // span(class="sr-only") (current)
  div(class='container' id='Cool' ng-app='cameraCaptureWeb' ng-controller='formController')
      h2(class="text-center") Panell del revisor
      img(src='#{imgPath}' class='mg-responsive center-block')
      input(hidden='true' name='filePath' value='#{imgPath}')
      br
      div(class='btn-group btn-group-lg btn-block ' ng-click='markImage()')
        div(id='happy' class='btn btn-primary' )
          div.col-md-1
            input( id='happyi' type='radio' name='group1'  value='happy')
          div.col-md-1
            p Contenta
        div(id='sad' class='btn btn-primary')
          div.col-md-1
            input( id='sadi' type='radio' name='group1' value='sad')
          div.col-md-1
            p Trista
        div(id='neutral' class='btn btn-primary')
          div.col-md-1
            input( id='neutrali' type='radio' name='group1' value='neutral' checked)
          div.col-md-1
            p Neutral
        div(id='disgust' class='btn btn-primary')
          div.col-md-1
            input( id='disgusti' type='radio' name='group1' value='disgust')
          div.col-md-1
            p Disgustada
        div(id='fear' class='btn btn-primary')
          div.col-md-1
            input( id='feari' type='radio' name='group1' value='fear')
          div.col-md-1
            p Asustada
        div(id='surprised' class='btn btn-primary')
          div.col-md-1
            input(  id='surprisedi' type='radio' name='group1' value='surprised')
          div.col-md-1
            p Sorpresa
      div
        br
        button(id='mark' class='btn btn-success btn-block' ng-click='markImage()' width='100' height='20') Enviar
        button(id='delete' class='btn btn-danger btn-block' ng-click='deleteImage()' width='100' height='20') Eliminar

  script(type='text/javascript').
   // Put event listeners into place
      window.addEventListener('DOMContentLoaded', function () {
          // Trigger photo take
          var emotions = ['happy','sad','neutral','disgust','fear','surprised']
          for (var i = 0; i < emotions.length; i++) {
            var btnGRP = document.getElementById(emotions[i])
            btnGRP.addEventListener('click', function () {
                //alert('hola')
                this.firstChild.firstChild.setAttribute('checked', 'true')
            });
          }
      }, false)

      var mainApp = angular.module('cameraCaptureWeb', [])
      mainApp.controller('formController', function($scope, $http) {
        console.log('Compilat!')
        $scope.markImage = function () {
          console.log('Etiquetar imatge')
          var request = $http({
            method: 'post',
            url:  'revisor',
            data: {
              op: 'move',
              filePath: $('input[name=filePath]').val(),
              emotion: $('input[name=group1]:checked').val()
            },
            headers: { 'Content-Type': 'application/json' }
          })
          request.success(function (data) {
            if (data.status == 1) {
              $.notifyBar({ cssClass: 'success', html: 'Imatge etiquetada!' })
              console.log('image tagged ok!');
              window.location.replace('revisor')
            } else {
              $.notifyBar({ cssClass: 'error', html: 'Hem tingut un problema, torna a provar ;)' })
              console.log('ERROR: image not tagged!; err status: ' + data.status + "; Message: "+ data.msg)
              window.location.replace('revisor')
            }
          })
          request.error(function(serverResponse, status, headers, config) {
            console.log('ERROR: image not tagged!')
            //alert(serverResponse);
            $.notifyBar({ cssClass: 'error', html: 'Hem tingut un problema de comunicació, torna a provar ;)' })
          })
        };
        
        $scope.deleteImage = function () {
          console.log('Eliminar imatge')
          var request = $http({
            method: 'post',
            url:  'revisor',
            data: {
              op: 'delete',
              filePath: $('input[name=filePath]').val()
            },
            headers: { 'Content-Type': 'application/json' }
          })
          request.success(function (data) {
            if (data.status == 1) {
              $.notifyBar({ cssClass: 'success', html: 'Imatge eliminada!' })
              console.log('image eliminada ok!');
              window.location.replace('revisor')
            } else {
              $.notifyBar({ cssClass: 'error', html: 'Hem tingut un problema, torna a provar ;)' })
              console.log('ERROR: image not deleted!; err status: ' + data.status + "; Message: "+ data.msg)
            }
          })
          request.error(function(serverResponse, status, headers, config) {
            console.log('ERROR: image not delete!')
            //alert(serverResponse);
            $.notifyBar({ cssClass: 'error', html: 'Hem tingut un problema de comunicació, torna a provar ;)' })
          })
        }
      })
